/* CSS for Navbar*/
body{
  background-color: #262A2E;
}
header {
  display: flex;
  justify-content: center;
}

header nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 80vw;
  margin-top: 20px;
  line-height: 1.8em;
  background-color: #161819;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 10px rgba(11,11,11,0.5);
}
header nav div{
  display: flex;
  width: 100%;
  align-items: center;
}

header nav .menu-icon{
  color: white;
  display: none;
}

header nav .pages {
  margin-left: 3vw;
  margin-right: auto;
}

header nav .actions {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: 3vw;
}

header nav .actions li:last-child{
  display: none;
}

header nav .actions li::after{
  background-color: black;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 0 25px;
  position: relative;
}

header nav ul li::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 20px;
  bottom: 0;
  background-color: white;
}

header nav ul li:hover:after {
  transition: all ease-in-out 0.15s;
  width: 65%;
}

header nav .userIcon {
  display: none;
  background-color: #5de0e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
footer {
  background-color: #161819;
  width: 100vw;
  color: white;
  font-size: 24px;
}

footer button{
  background-color:white;
  margin: 1em 0 0 0;
  color: black;
  letter-spacing: 1px;
  width: 7em;
  height: 2em;
  position: relative;
}
footer button::after{
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0;
  transition: all ease-in 0.12s;
}

footer button:hover:after {
  width: 100%;
}


footer div ul{
  padding: 2em 0 0 0;
  text-align: left;
  font-size: 16px;
  color: #adb5bd;
  line-height: 2em;
}

footer div ul li:hover{
  transition: all ease 0.5s;
  cursor: pointer;
  color: white;
}
footer .footer{
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr ;
  
}

footer .footer div{
  margin-left: 5em;
  padding: 4em 0 0 0;
}

footer .footer p{
  padding: 1em 0 0 0;
  font-size: 0.8em;
}


main{
  height: 100vh;
}

@media (max-width: 900px) {
  header nav .nav-drawer{
    /* display: none; */
    position: absolute;
  }

  header nav .menu-icon{
    display: block;
    text-align: end;
    padding: 0 2em 0 0;
  }
  footer .footer div{
    margin-left: 2em;
    padding: 4em 0 0 0;
  }
}
@media (max-width: 768px) {
  footer .footer{
    display: flex;
    flex-direction: column;
  }
}