/* CSS for Navbar*/

:root {
  --nav-bar-color: #161819;
}

body {
  /* background-color: #262a2e; */
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header nav {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 80vw;
  margin-top: 20px;
  line-height: 1.8em;
  background-color: var(--nav-bar-color);
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 10px rgba(11, 11, 11, 0.5);
  position: relative;
}

@keyframes nav-bar-animation {
  0% {
    height: 0;
  }

  100% {
    height: calc(auto);
  }
}

.nav-drawer-animaition {
  animation-name: nav-bar-animation;
  animation-timing-function: linear;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
}

header nav div {
  display: flex;
  width: 100%;
  align-items: center;
}

header nav .menu-icon {
  color: white;
  display: none;
}

header nav .pages {
  margin-left: 3vw;
  margin-right: auto;
}

header nav .actions {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: 3vw;
}

header nav .actions li:last-child {
  display: none;
}

header nav .actions li::after {
  background-color: black;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding: 0 25px;
  position: relative;
}

header nav ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 20px;
  bottom: 0;
  background-color: white;
}

header nav ul li:hover:after {
  transition: all ease-in-out 0.15s;
  width: 65%;
}

.removeUnderLineAuth::after{
  display: none;
}


header nav .userIcon {
  display: block;
  background-color: #f2044b;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

footer {
  background-color: var(--nav-bar-color);
  /* width: 100vw; */
  /* position: fixed;
  bottom: 0; */
  overflow: hidden;
  color: white;
  font-size: 24px;
}

footer button {
  background-color: white;
  margin: 1em 0 0 0;
  color: black;
  letter-spacing: 1px;
  width: 7em;
  height: 2em;
  position: relative;
}

footer button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0;
  transition: all ease-in 0.12s;
}

footer button:hover:after {
  width: 100%;
}

footer div ul {
  padding: 2em 0 0 0;
  text-align: left;
  font-size: 16px;
  color: #adb5bd;
  line-height: 2em;
}

footer div ul li:hover {
  transition: all ease 0.5s;
  cursor: pointer;
  color: white;
}

footer .footer {
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

footer .footer div {
  margin-left: 5em;
  padding: 4em 0 0 0;
}

footer .footer p {
  padding: 1em 0 0 0;
  font-size: 0.8em;
}

@media (max-width: 900px) {
  header nav .nav-drawer {
    display: none;
    position: absolute;
    flex-direction: column;
    top: calc(100% + 5px);
    height: auto;
    background-color: var(--nav-bar-color);
    border-radius: 30px;
    padding: 1em;
    overflow: hidden;
    font-size: 16px;
  }

  header .nav-drawer .pages {
    flex-direction: column;
    margin: 0;
  }

  header,
  .nav-drawer .pages li {
    padding: 0.7em 1em;
  }

  header,
  .nav-drawer .actions li {
    padding: 0.7em 1em;
  }

  header .nav-drawer .actions {
    flex-direction: column;
    margin: 0;
  }

  header nav .menu-icon {
    display: block;
    text-align: end;
    padding: 0 2em 0 0;
  }

  header nav .menu-icon i {
    cursor: pointer;
  }

  footer .footer div {
    margin-left: 2em;
    padding: 4em 0 0 0;
    display: flex;
    flex-direction: column;
  }
}

/* For Device going back to 900px+  */
@media (min-width: 900px) {
  header .nav-drawer {
    display: flex !important;
  }

  header .nav-drawer {
    height: auto !important;
  }
}

@media (max-width: 768px) {
  footer .footer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  header nav {
    width: 100vw;
  }
}

/* HOME PAGE  */
.homePage {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  font-family: "Tektur", cursive;
}

.homePage > div {
  width: 80vw;
  padding: 2em;
}

.homePage div h1 {
  margin-top: 2em;
  text-align: center;
  font-size: 4em;
  letter-spacing: 3px;
  word-spacing: 4px;
  font-weight: 900;
}

.homePage div h1:first-child {
  margin-top: 0;
}

.homePage div div {
  display: flex;
  align-items: center;
}

.homePage div div p {
  /* text-shadow: 2px 2px 0px #ef233c, -2px -2px 0px cyan; */
  font-size: 3em;
  /* color: white; */
}

.homePage div div img {
  padding: 2em;
  margin-right: 1em;
  object-fit: cover;
}

.homePage div span {
  color: #ef233c;
}

@media (max-width: 900px) {
  .homePage div {
    margin: 0;
    width: 90vw;
    padding: 0;
  }

  .homePage div h1 {
    font-size: calc(1em + 5vw);
  }

  .homePage div h1 span {
    white-space: nowrap;
  }

  .homePage div div p {
    font-size: 3em;
    padding-top: 2em;
  }

  .homePage div div {
    flex-direction: column;
    padding: 0;
    font-size: 12px;
  }

  .homePage div div img {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .homePage div div p {
    font-size: 2em;
  }
}

/* ERROR: PAGE NOT FOUND PAGE */

.error404page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100 !important;
}

.error404page p {
  text-align: center;
  font-size: calc(10vw + 15px);
}

.error404page span {
  color: red;
}

@media (min-width: 1140px) {
  .error404page p {
    font-size: calc(5vw + 10px);
  }
}

/* Login Page */
.formMain {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  /* font-family: "Tektur", cursive; */
}

.formMain .form {
  width: 500px;
  position: relative;
}

.formMain .form .creds {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formMain .form .creds input {
  width: 100%;
  padding: 1em;
  margin: 1.5em 1em 0 0;
  border: 1px solid #ced4da;
  outline: none;
  font-size: 16px;
}

.formMain .form .creds input:focus {
  border: 1px solid gray;
  box-shadow: 0 0 10px #ced4da;
}

.formMain .form .creds input:first-child {
  margin-top: 3em;
}

.formMain .form .actionBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5em 0 0 0;
}

.formMain .form .actionBtn a {
  padding: 1em 0;
  color: #495057;
}

.formMain .form .actionBtn a:hover {
  color: black;
}

.formMain .form .actionBtn button {
  width: 90px;
  background-color: #d61a3c;
  color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(100, 11, 11, 0.5);
  transition: all ease 0.5s;
}

.formMain .form .actionBtn button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(100, 11, 11, 0.5);
}

/* Signup form */
.mainSignup {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.mainSignup .signupForm {
  width: 700px;
}

.mainSignup .signupForm .creds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mainSignup .signupForm .creds input {
  width: 100%;
  padding: 1em;
  margin: 1.5em 0 0 0;
  border: 1px solid #ced4da;
  outline: none;
  font-size: 16px;
}

.mainSignup .signupForm .creds input:focus {
  border: 1px solid gray;
  box-shadow: 0 0 10px #ced4da;
}

.mainSignup .signupForm .actionBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5em 0 0 0;
}

.mainSignup .signupForm .actionBtn button {
  width: 90px;
  background-color: #d61a3c;
  color: white;
  padding: 0.5em 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(100, 11, 11, 0.5);
  transition: all ease 0.5s;
}
.mainSignup .signupForm .actionBtn button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(100, 11, 11, 0.5);
}

.mainSignup .signupForm .actionBtn a {
  padding: 1em 0;
  color: #495057;
}

.errorBox {
  position: absolute;
  z-index: -1;
  top: 15%;
  width: 100%;
  font-size: 1.5em;
  color: red;
}

@media (max-width: 550px) {
  .formMain .form,
  .mainSignup .signupForm {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .mainSignup .signupForm .creds {
    display: flex;
    flex-direction: column;
  }
  .mainSignup .signupForm {
    width: 90vw;
  }
}

/* Dropdown Component */

.dropdown {
  color: white;
  filter: drop-shadow(0 0 10px rgba(11, 11, 11, 0.5));
  position: relative;
  padding: 10px 40px;
  background-color: #161819;
  border-radius: 10px;
  text-align: center;
}

.dropdown .dropdown-content {
  display: none;
  text-align: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  left: 0;
  top: 70%;
  background-color: #161819;
  border-radius: 10px;
  margin-top: 12px;
}

.dropdown .dropdown-content span {
  padding: 10px;
  transition: background-color ease 0.3s;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content span:hover {
  background-color: #343a40;
  border-radius: 10px;
  cursor: pointer;
}



/* CSS for CreateApplication.jsx */


