
/* CSS for Navbar*/
header{
  display: flex;
  justify-content: center;
}

header nav{
  display: flex;
  width: 66.669%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 1.8em;
  background-color: #5fa8d3;
  border: 1px solid black;
}

header nav ul{
  display: flex;
}
header nav ul li{
  padding: 0 25px;
}
header nav .logo{
  display: none;
  background-color: #5de0e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;

}
footer{
  background-color: #1b4965;
}